<h1>task of the day</h1>
<h3><%= @task.title %></h3>
<p><%= @task.details %></p>
<p><%= @task.completed ? "Completed" : "Not completed" %></p>

<%= link_to 'edit task', edit_task_path(@task) %>

<%= link_to 'destroy task', task_path(@task), method: :delete, data: { confirm: "Are you sure?" }  %>

<%= link_to 'Back', tasks_path %>
